/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************/
body {
    font-family: monospace;
}

.messageElement {
    margin-top: 1em;
}

.sourceElement {
    font-size: smaller;
    color: gray;

    &.INTERNAL {
        margin-right: 0;
        margin-left: auto;
    }

    &.EXTERNAL {
        margin-left: 0;
        margin-right: auto;
    }
}

.transcriptElement {
    &.INTERNAL {
        margin-right: 0;
        margin-left: auto;
        background-color: lightblue;
    }

    &.EXTERNAL {
        margin-left: 0;
        margin-right: auto;
        background-color: lightgray;
    }
}
