/*!***************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs/index.js!./src/index.scss ***!
  \***************************************************************************************************************/
body {
  font-family: monospace;
}

.messageElement {
  margin-top: 1em;
}

.sourceElement {
  font-size: smaller;
  color: gray;
  width: fit-content;
}
.sourceElement.INTERNAL {
  margin-right: 0;
  margin-left: auto;
}
.sourceElement.EXTERNAL {
  margin-left: 0;
  margin-right: auto;
}

.transcriptElement {
  max-width: 80%;
  padding: 1em;
  border-radius: 5%;
}
.transcriptElement.INTERNAL {
  margin-right: 0;
  margin-left: auto;
  background-color: lightblue;
}
.transcriptElement.EXTERNAL {
  margin-left: 0;
  margin-right: auto;
  background-color: lightgray;
}
